
/* 清空预设内外边距以及解决元素溢出 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* 设置背景大图并令其位置固定 */
body{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

#parallax_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  perspective: 5000px;
}

#parallax_wrapper img {
  transition: .1s;
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  min-width: 1000px;
  z-index:-10;
  /* zoom: 1; */
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;

}

.musicplayer {
    position: fixed;
    bottom: 10px;
    left: 5px;
    opacity: 0.7;
    z-index: 999;
}
/* 设置顶部导航图片居中 */
.head img{
    vertical-align:bottom;
}
/* 设置顶部导航透明背景色、高度以及文字垂直居中 */
.head{
    position: relative;
    line-height: 80px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(224,240,253,0.8);
    z-index: 99999999999;
}
/* 设置顶部导航文字为行内块级元素，并添加文字颜色以及蓝色背景块 */
.head a{
        
    display: inline-block;
    width: 110px;
    height: 80px;
    background-color:transparent;
    transition-duration: 0.4s;
    color: #333;
    text-decoration: none;
    border-radius: 12%;
    /* line-height: 80px; */
    font-size: 18px;
    z-index: 99999999999;
    }
/* 设置鼠标悬停时减淡蓝色方块颜色 */
.head a:hover {
    background-color: #709de9;
}
/* 设置game.html游戏选项属性 */
.gameop{
    margin: 40px auto;/*水平居中*/
    line-height: 80px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.7);
}
/* 设置椭圆蓝色方块并添加阴影 */
.gameop a{
    margin-right: 15px;
    border-radius: 50%; /*设置圆角属性 */
    box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.5);/*阴影属性 X轴偏移量 Y轴偏移量 模糊半径 扩散半径 颜色 内外阴影*/
    display: inline-block;
    width: 150px;
    height: 80px;
    background-color: #3064bb;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    }
    
/* 设置鼠标悬停时蓝色方块减淡效果 */
.gameop a:hover {
background-color: #608dd9;
}
.zhengwen .date{
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 12px;
    color: #333;
}

.zhengwen{
    margin: 10px auto 140px;
    background-color: rgba(230,230,230,0.8);
    background-size: contain;
    width: 1050px;
    line-height: 30px;
    box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.7);
    text-align:center;
    color: #222;
    font-size: 17px;
    
}

.zhengwen p{
    margin: 5px 50px;
    text-indent: 2em;
    text-align: left;
}

.zhengwen cite{
    margin: 0px 50px;
}

.kapian{
    margin: 10px auto 20px;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content:center;
    /* display: flex; *
    /* justify-content: center; */
    /* align-items: center; */
    background-color: rgba(230,230,230,0.8);
    /* background-size: contain; */
    box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.5);
    width: 1050px;
    /* text-align: center; */
    line-height: 27px;

}
.kapian div{
    /* float: left;
    margin-top: -27px; */
    /* float: left; */
    

    text-align: center;
}
.kapian img{
    /* align-self: center; */
    
    width: 70px;
    height: 70px;
}

.content {
    /* display: flex; 
    flex-direction: column;
    justify-content: center; */
    display: flex;
    align-items:center;
    justify-content:right;
    text-align: center;
    
    width: 1050px;
    /* flex: 1; 占据剩余空间 */
}

.blog {
    
    /* margin-top: 10px; */
    text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.shuming{
    color: skyblue;
    font-size: 2.5rem;
    -webkit-animation: shining 0.5s alternate infinite;
    animation: shining 0.5s alternate infinite;
}
@-webkit-keyframes shining {
    from {
        text-shadow: 0 0 10px #F8D6DD, 0 0 20px #F8D6DD, 0 0 30px #F8D6DD, 0 0 40px #F7D3E4, 0 0 50px #F7D3E4, 0 0 60px #F7D3E4;
    }

    to {
        text-shadow: 0 0 5px #F8D6DD, 0 0 10px #F8D6DD, 0 0 15px #F8D6DD, 0 0 20px #F7D3E4, 0 0 25px #F7D3E4, 0 0 30px #F7D3E4;
    }
}